body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* CONTAINER */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* SECTION */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  display: inline-block;
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header .logo span {
  color: #2e2f42;
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* HERO */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* BENEFITS */
.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.benefits-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}

.team-item:first-child {
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 0;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
}

/* PORTFOLIO */
.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-name {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.5;
}

/* FOOTER */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}
